*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


######################
# Project files #
######################
gradle.xml
misc.xml
modules.xml
